<form class="login2" name="userManagement" ng-submit="userCtrl.userManagement()" novalidate>
    <div class="container well">
        <div class="form-horizontal" >
            <!--
            <div>passwordValid:{{passwordValid}} userManagement.$invalid: {{userManagement.$invalid}}</div>
            -->
            <div class="row" ng-show="userOption == 1">
                <div class="col-xs-12"><h2>Add new User</h2></div>
            </div>
            <div class="row" ng-show="userOption == 2">
                <div class="col-xs-12"><h2>Modify your data</h2></div>
            </div>
            <br/>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="formGroup">Name:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="user.name" ng-pattern="/^[a-zA-Z]+$/" required></input>
                </div>
                <label class="col-sm-2 control-label" for="formGroup">Last name:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="user.surname1" ng-pattern="/^[a-zA-Z]+$/" required/>
                </div>
                <label class="col-sm-2 control-label" for="formGroup">Nick:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="userNick" ng-model="user.nick" ng-blur="userCtrl.checkNick()" required/>
                    <p class="help-block" ng-if="!nickValid" >
                        <b>It already exists a user with this nick, try another one.</b>
                    </p>
                </div>
                <label class="col-sm-2 control-label" for="formGroup">Password:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="password" ng-model="user.password" name="password" ng-minlength="6" required/>
                    <p class="help-block" ng-if="user.password.$error.minlength || user.password.$invalid" >
                        Password must be at least 6 characters
                    </p>
                </div>
                <label class="col-sm-2 control-label" for="formGroup">Repeat password:</label>
                <div class="col-sm-4">
                    <input class="form-control" id="password2" type="password" ng-model="passControl" name="password2" ng-minlength="6" required ng-change="userCtrl.checkPassword()"/>
                    <p class="help-block" ng-if="user.password != passControl" >
                        Password do not match
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="formGroup">Address:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text"ng-model="user.address" required />
                </div>
                <label class="col-sm-2 control-label" for="formGroup">Email Adress:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="email" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" ng-model="user.mail" required/>
                </div>
                <label class="col-sm-2 control-label" for="formGroup">Phone:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-pattern="/^[6-9]\d{8}$/" placeholder="666111222" ng-model="user.telephone" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="formGroup">Birth Date:</label>
                <div class="col-sm-6">
                    <p class="input-group">
                        <input type="text" class="form-control" id="birthDate"
                               uib-datepicker-popup="{{format}}"
                               is-open="birthDate.opened"
                               datepicker-options="dateOptions"
                               alt-input-formats="altInputFormats"
                               close-text="Close"
                               ng-required="true"
                               ng-model="user.birthDate"
                               readonly/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openBirthDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">      
                <label class="col-sm-2 control-label" for="formGroup">Image: <img src="{{user.getImage()}}" width="50" height="50" ng-show="userOption == 2"/></label>
                <label class="col-sm-6 control-label" for="formGroup" ng-if="userOption == 1"><input class="form-control" type="file" file="image" accept="image/*" ng-model="image" id="imageUser" valid-file /></label>
                <label class="col-sm-6 control-label" for="formGroup" ng-if="userOption == 2"><input class="form-control" type="file" name="file" accept="image/*" onchange="angular.element(this).scope().setFile(this)" ng-model="imageUserMod" id="imageUserMod" /></label>
                <label class="col-sm-2 control-label" for="formGroup" ng-if="userOption == 2">New Image: <img src="{{userImage}}"></label>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-sm-2 control-label" for="formGroup"></label>
                <div class="col-sm-4">
                    <button ng-disabled="userManagement.$invalid || !passwordValid || !nickValid" class="btn btn-success">
                        Submit
                    </button>
                </div>
                <div class="form-group col-sm-6">
                    <label>
                        <input class="btn btn-default btn-primary btn-block" type="button" value="Back" ng-click="userOption = 0">
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
